// -------------------------------------------------------------------- //
// ---------------------------- Skeleton ------------------------------ //
// -------------------------------------------------------------------- //

#app
	width: 100vw
	height: 100vh

.app-container
	.view
		padding: 1em